.jc-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  .jc-modal .jc-modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    min-width: 500px;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
  }
  .jc-modal .jc-modal__description {
    margin-bottom: 15px;
    color: #666;
  }
  .jc-modal .jc-modal__buttons {
    text-align: right;
    margin-top: 15px;
  }
  .jc-modal .jc-modal__cancel {
    margin-right: 10px;
  }
  